@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #c0c0c09f;
}
.bg-newsletter {
  background-image: url("../../public/bg-newsletter.jpg");
}
.container {
  padding: 0 10%;
  margin: 0 auto;
}
@media (max-width: 768px) {
  .container {
    padding: 0 6%;
  }
}
.swiper-button-prev,
.swiper-button-next {
  display: none !important;
}
.swiper-pagination-bullet {
  background-color: #33444d !important;
  transition: 300ms;
}
.swiper-pagination-bullet-active {
  scale: 1.2;
}
.swiper-pagination {
  position: relative;
  bottom: 4px;
}
